/***************************************************************
* Multi - Exemole d'appel de différents moteurs Scrutari
* 
* Copyright (c) 2017 Vincent Calame - Exemole
* Licensed under MIT (http://en.wikipedia.org/wiki/MIT_License)
*************************************************************/

#bodyArea {
	margin-left: 4px;
	margin-right: 4px;
}

input[type="text"] {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	padding: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: #dfdfdf;
	border-top-color: #a0a0a0;
	border-left-color: #a0a0a0;
}

#qInput {
	width: 100%;
	display: block;
}

#mainSubmit {
	display: block;
	margin: auto;
}

.multi-MainTitle {
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 15px;
}

.multi-ListTitle {
	margin-bottom: 10px;
	font-weight: bold;
	font-style : italic;
	margin-top: 25px;
}

.multi-Mentions {
	margin-top: 40px;
	font-size: 11px;
}

.multi-engine-Icon {
	float: left;
}

.multi-engine-Title {
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 20px;
	padding-top: 2px;
}

.multi-engine-Description {
	margin-top: -10px;
	margin-left: 20px;
	margin-bottom: 10px;
	font-size: 11px;
}

.multi-engine-Result {
	margin-left: 20px;
	margin-bottom: 20px;
}

.multi-engine-Website {
	font-weight: normal;
}